.home {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}

.btn{
	padding: 8px;
}
.list {
	list-style: none;
	padding: 0;
  }
  .list > li {
	position: relative;
	padding: 5px 10px;
	color: #333;
	background-color: rgba(255,255,255,.5);  
	border-radius: 5px;
	list-style: none;
	animation: fadeIn 1s ease;
  }
  @keyframes fadeIn {
	0% {
	  box-shadow: inset 0 0 2px 2px red,
				  0 0 2px 2px red;
	}
  }
  .list > .odd {
	background-color: #def;
  }
  .list > .even {
	background-color: #fed;
  }
  input{
	  padding: 8px;
	  width: 200px;
	  margin: 10px;
  }