.classname{
    padding: 56px 20px;
	min-height: 100%;
	width: 100%;
   /* flex-wrap: wrap; */
    height: 500px;
}
.btn{
    padding: 8px;
    margin: 3px;
}
.bg{
    background-color: rgb(18, 109, 5);
    width: 30%;
    /* float: right; */

}
.ND{
    /* display: block; */
    /* flex-wrap: wrap; */
    background-color: greenyellow;
}